.cardWrap{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  transition:0.5s;
}
h1{
  position: fixed;
  top:0;
  z-index: 5;
  background-color: blueviolet;
}
.card{
  width:25%;
  margin:10px 15px;
}
.showMore{
  position: relative;
  left:10%;
}